name: ci

on:
  push:
    branches: ["**"]
  pull_request:
  workflow_dispatch:

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          enable-cache: true

      - name: Sync dependencies
        run: uv sync --dev

      - name: Run pre-commit
        run: uv run pre-commit run --all-files
